<h2>编辑账号</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
    <%= devise_error_messages! %>

    <p><%= f.label :email, "邮箱" %><br />
        <%= f.email_field :email %></p>

    <p><%= f.label :nick_name, "昵称" %><br />
        <%= f.text_field :nick_name %></p>

    <p><%= f.label :password, "密码" %> <i>(如果不想修改请留空)</i><br />
        <%= f.password_field :password %></p>

    <p><%= f.label :password_confirmation, "确认密码" %><br />
        <%= f.password_field :password_confirmation %></p>

    <p><%= f.label :current_password, "当前密码" %> <i>(需要你现在的密码来确认修改)</i><br />
        <%= f.password_field :current_password %></p>

      <p><%= f.submit "更新", :disable_with => '请稍等...' %></p>
<% end %>

<h3>注销帐号</h3>

<p>不高兴? <%= link_to "注销我的帐号", registration_path(resource_name), :confirm => "你确定?", :method => :delete %>.</p>

<%= link_to "返回", :back %>
