<%= form_for(@article) do |f| %>

    <%= render :partial => "share/error_message", :locals => {:target => @article} %>

    <div class="field">
        <%= f.label :title, "标题", :size => 45 %><br />
        <%= f.text_field :title %>
    </div>
    <div class="field">
        <%= f.label :body, "内容" %><br />
        <%= f.text_area :body, :cols => 80, :rows => 20 %>
    </div>
    <div class="field">
        <%= f.label :tag_list, "标签", :size => 45 %><br />
        <%= f.text_field :tag_list %>
    </div>
    <div>
      <%= f.submit("发表", :disable_with => '请稍等...') %><%= render "share/format_helper_links"%>
    </div>
<% end %>
