<% content_for(:title) do %>
    <%= @article.title %>
<% end %>

<div class="title">
    <h2><%= @article.title %></h2>
</div>
<div class="article-info">
    <span class="author">
      作者：<%= link_to(@article.user_nick_name, user_path(@article.user))%>
    </span>
    <span class="time">
      时间：<%= I18n.l(@article.created_at, :format => :long) %>
    </span>
    <span class="comment-num">
      评论(<%= @article.comments_count %>)
    </span>
</div>
<div class="content">
    <%= format(@article.body) %>
    <p>
        标签
        <%= tag_with_link(@article) %>
    </p>
    <%= render :partial => "share/share", :locals => {:article => @article} %>
    <%= operation_links_for(current_user, @article)%>
</div>
<div id="comments">
    <%= nested_comments @article.comments.includes(:user).arrange(:order => "created_at asc") %>
    <%= paginate @comments %>
    <%= render "comments/new", :comment => @comment, :article => @article %>
</div>


