<p>
    <b>标题:</b>
    <%= @article.title %>
</p>

<p>
    <b>内容:</b>
    <%= coderay(@article.body) %>
</p>

<p>
    <b>标签:</b>
    <%= tag_with_link(@article) %>
</p>


<%= link_to '编辑', edit_article_path(@article) if @article.user == current_user %> 

<div class="comments">
    <ul>
        <% @comments.each do |comment|%>
            <li>
                <%= comment.body %> <%= link_to("删除", article_comment_path(@article, comment), :method => :delete, :confirm => "确定?") if comment.user == current_user%>
            </li>
        <% end %>
    </ul>
</div>
<%= paginate @comments %>
<div class="reply">
    <%= form_for([@article, @comment]) do |f| %>
        <% if @comment.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

                <ul>
                    <% @comment.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>

        <div class="field">
            <%= f.label :body, "回复" %><br />
            <%= f.text_area :body %>
        </div>
        <div class="actions">
            <%= f.submit %>
        </div>
    <% end %>


</div>



