<div class="title">
  <h2><%= @article.title %></h2>
</div>
<div>
  作者：<%= link_to(@article.user_nick_name, user_articles_path(@article.user))%>
<span>
  时间：<%= @article.created_at.to_s(:db)%>
</span>
 </div>
 <div class="content">
   <%= format(@article.body) %>
   <p>
     标签
     <%= tag_with_link(@article) %>
   </p>
   <%= operation_links_for(current_user, @article)%>
 </div>
 <div class="comments">
   <ul>
     <% nested_set_options(@comments) do |comment|%>
       <li>
         <div class="avatar"><%= image_tag avatar_url(comment.user_avatar_token), :size => "64x64", :alt => "Avatar" %></div>
         <%= "♡" * comment.level %><%= format(comment.body) %> <%= link_to("删除", article_comment_path(@article, comment), :method => :delete, :confirm => "确定?") if comment.user == current_user%>
         <%= link_to("回复", new_article_comment_path(@article, :parent_id => comment.id))%>
       </li>
     <% end %>
   </ul>
 </div>
 <%= paginate @comments %>
 <%= render :partial => "comments/new", :locals => {:comment => @comment, :article => @article}%>



